.has-fade {
    visibility: hidden;
}

// Keyframe animations will load here
@keyframes fade-in {
    from {
        // display:none != visibility:hidden
        visibility: hidden;
        opacity: 0;
    }
    1% {
        visibility: visible;
        opacity: 0;
    }
    // 50% {} if we want

    to {
        visibility: visible;
        opacity: 1;
    }
}
.fade-in {
    animation: fade-in 200ms ease-in-out forwards;
}

@keyframes fade-out {
    from {
        visibility: visible;
        opacity: 1;
    }
    99% {
        visibility: visible;
        opacity: 0;
    }
    to {
        visibility: hidden;
        opacity: 0;
    }
}
.fade-out {
    animation: fade-out 200ms ease-in-out forwards;
}
