// BEM - Block Element Modifyer
.footer {
    background-color: $darkBlue;
    color: $white;
    padding: 2.5rem; //40px
    text-align: center;
    margin-top: 3.55rem;

    .container {
        // On mobile it will be stacked one column layout
        @include breakpoint-up(large){
            display: grid;
            // Width of each column in grid
            grid-template-columns: 2fr 1fr 1fr 2fr;
            // Each of 2 rows will have same amount of space
            // grid-template-rows: repeat(2, 1fr);
            grid-template-rows: 1fr auto;
            // Representation of rows (each name = column)
            grid-template-areas: 
                "logo links1 links2 cta"
                "social links1 links2 copyright";
            // Margin between cells in grid
            gap: 1rem;
            justify-items: start;
        }
    }

    a {
        // To ensure that text links will have light color
        color: $white;
    }

    &__logo {
        // To enable spacing inside <a> that makes els sticky
        display: inline-block;

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            // Connecting class with grid area name
            grid-area: logo;
        }
    }

    &__social {

        @include breakpoint-down(medium){
            margin-bottom: 1.875rem;
        }

        @include breakpoint-up(large){
            // Connecting class with grid area name
            grid-area: social;
            align-self: end;
        }

        a {
            display: inline-block;
            height: 1.25rem;

            svg path {
                transition: fill 150ms ease-in-out;
            }

            &:hover svg path {
                fill: $limeGreen;
            }
        }

        // Last <a> won't be affected by changes in {}
        a:not(:last-child) {
            margin-right: 1rem;
        }
    }

    &__links {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 0.9375rem;

        @include breakpoint-up(large){
            // To replace line height between links
            justify-items: space-between;
            align-items: start;
        }

        &.col1 {

            @include breakpoint-up(large){
                // Connecting class with grid area name
                grid-area: links1;
            }
        }

        &.col2 {

            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }

            @include breakpoint-up(large){
                // Connecting class with grid area name
                grid-area: links2;
            }
        }

        a {
            line-height: 2.25;
            transition: color 150ms ease-in-out;

            &:hover {
                color: $limeGreen;
            }
        }
    }

    &__cta {

        @include breakpoint-up(large){
            // Connecting class with grid area name
            grid-area: cta;
            text-align: right;
            justify-self: end;
        }

        a.button {
            @include breakpoint-down(medium){
                margin-bottom: 1.875rem;
            }
        }
    }

    &__copyright {
        font-size: 0.8125rem;
        color: $grayishBlue;

        @include breakpoint-up(large){
            grid-area: copyright;
            // Sticking item to bottom of grid cell
            align-self: end;
            // Sticking item to the right side of cell
            justify-self: end;
        }
    }
}